Django==1.9.7
Twisted==16.3.0
argparse==1.2.1
cairocffi==0.7.2
ceres==0.10.0
cffi==1.7.0
django-tagging==0.4.3
enum34==1.1.6
fontconfig==0.1
gunicorn==19.6.0
psycopg2==2.6.2
pycparser==2.14
pyparsing==2.1.5
pytz==2016.4
simplejson==3.8.2
tagging==0.2.1
txAMQP==0.6.2
whisper==0.9.15
wsgiref==0.1.2
zope.interface==4.2.0
